:root {
  --primary: rgb(246, 246, 108);
  --bg: rgb(178, 178, 178);
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--bg);
  color: rgb(3, 3, 3);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgb(74, 74, 74);
  border-bottom: 1px solid rgb(137, 123, 191);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid var(primary);
  transform: scale(0);
  transition: 0.2s linear;
}

img {
  width: 50px;
}





/* Media Queries */
/*
@media (max-width: 450px) {
  .navbar {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

  }

  .navbar .navbar-logo {
    font-size: 20px;
  }

  .navbar .navbar-nav {
    font-size: 14px;
  }
  
}
*/